@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    position: relative;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    color: #05445E;
    ;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

.group {
    position: relative;
    display: flex;
}

.group .navigation,
.group .action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group ul li {
    list-style: none;
}

.group ul li a {
    color: #05445E;
    text-decoration: none;
    margin-left: 30px;
}

.group ul li a:hover {
    color: #ff5a26;
}

.group .action {
    margin-left: 20px;
}

.group .action li a {
    font-size: 1.25em;
}

.banner {
    position: relative;
    width: 100%;
    padding: 0 100px;
    transform: translateY(40px);
}

.banner .bg {
    position: relative;
    width: 100%;
    height: 75vh;
    background: rgba(5, 68, 94, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    background: #ff5a26;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 20px;
    letter-spacing: 2px;
}

.searchBox {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #05445E;
    padding: 30px 50px;
    transform: translateY(-35%);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.searchBox .inputBx {
    position: relative;
    padding: 3px;
}

.searchBox .inputBx input {
    border: 1px solid rgba(24, 154, 180, 0.5);
    background: rgba(5, 68, 94, 0.25);
    border-radius: 1px;
    padding: 10px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.searchBox .inputBx span {
    position: absolute;
    left: 25px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(24, 154, 180, 0.5);
    text-transform: uppercase;
    transition: 0.5s;
}

.searchBox .inputBx ion-icon {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.25em;
}

.searchBox .inputBx input:valid~span,
.searchBox .inputBx input:focus~span {
    color: #75E6DA;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #05445E;
}

.searchBox .inputBx input:valid,
.searchBox .inputBx input:focus {
    border: 1px solid #189AB4;
}

.menuToggle {
    display: none;
}

.fl-left{float: left}

.fl-right{float: right}

.trips
{
  width: 90%;
  height: 50vh;
  margin-top: 30px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.trips::-webkit-scrollbar {
  width: 0px;
}

.trip {
  position: relative;
  width: 320px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.08));
}

.trip .card {
  display: flex;
  background-color: #fff;
  padding: 24px;
}

.trip .card.card-top {
  text-align: center;
  justify-content: space-between;
  border-radius: 16px 16px 0 0;
}

.trip .card.card-top .code {
  font-size: 32px;
  font-weight: 900;
}

.trip .card.card-top .city {
  font-size: 10px;
  color: #189AB4;
}

.flight-median {
  position: relative;
  height: 50px;
  width: 100px;
  top: 12px;
  border-radius: 100% 100% 0 0 / 180% 180% 0 0;
  border: 2px dashed transparent;
  border-top-color: #c7ecee;
}

.flight-median::before {
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  top: 14px;
  left: 5px;
  background-color: #189AB4;
  border-radius: 50%;
  box-shadow: 80px 0 0 #189AB4;
}

.flight-median ion-icon {
  position: relative;
  top: -11px;
  color:#189AB4;
}

.trip .card.card-bottom {
  flex-direction: column;
  border-radius: 0 0 16px 16px;
}

.trip .card.card-bottom .card-row {
  display: flex;
  justify-content: space-between;
}

.trip .card.card-bottom .card-row:not(:last-child) {
  margin-bottom: 32px;
}

.trip .card.card-bottom .label {
  font-size: 10px;
  color:#189AB4;
}

.trip .card.card-bottom .content {
  font-size: 14px;
  font-weight: 900;
  color:#189AB4;
}

.median {
  height: 24px;
  margin: 0 auto;
  background-image: radial-gradient(circle, transparent 72%, #ffff 72%),
  repeating-linear-gradient(90deg, #ffffff 0, #ffffffff 2%, #189AB4 2%, #189AB4 4%),
  linear-gradient(#ffffff, #ffffff),
  radial-gradient(circle, transparent 72%, #ffff 72%);
  background-size: 24px 24px, calc(100% - 24px) 1px, calc(100% - 24px) 100%, 24px 24px;
  background-position: -12px 0, 12px 50%, 12px 0, calc(100% + 12px) 0;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {

    .menuToggle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        cursor: pointer;
        margin-left: 10px;
        color: #05445E;
        width: 30px;
        height: 30px;
        z-index: 1000;
    }

    .menuToggle.active {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .menuToggle ion-icon {
        position: absolute;
        --ionicon-stroke-width: 20px;
        display: none;
    }

    .menuToggle.active ion-icon:nth-child(1) {
        display: none;
    }

    .menuToggle.active ion-icon:nth-child(2) {
        display: block;
    }

    .menuToggle ion-icon:nth-child(1) {
        display: block;
    }

    .menuToggle ion-icon:nth-child(2) {
        display: none;
    }

    .group .navigation {
        display: none;
    }

    .group .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 999;
    }

    .group ul.navigation li a {
        font-size: 1.5em;
        margin-left: 0;
        margin: 10px 0;
        display: inline-block;
    }

    .group ul li a {
        margin-left: 20px;
    }

    header {
        padding: 20px;
    }

    .banner {
        padding-right: 10px;
        padding-left: 10px;
        transform: translateY(100px);
    }

    .searchBox {
        padding: 20px;
        width: 80vw;
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
  .trips {
    margin-top: 90px;
  }
}